<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health Insurance Cross Cell Prediction</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Website Title -->
  
    <div class="container">
        <h2 class='container-heading'><span class="heading_font">Health Insurance Cross Cell Prediction</span></h2>
    </div>

    <h1>Result</h1>
    <table class="bordered-table">
        <tr>
            <th>Gender</th>
            <th>Age</th>
            <th>Driving License</th>
            <th>Region Code</th>
            <th>Previously Insured</th>
            <th>Vehicle Age</th>
            <th>Vehicle Damage</th>
            <th>Annual Premium</th>
            <th>Policy Sales Channel</th>
            <th>Vintage</th>
            <th>Prediction</th>
            <th>Classification</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record['Gender'] }}</td>
            <td>{{ record['Age'] }}</td>
            <td>{{ record['Driving_License'] }}</td>
            <td>{{ record['Region_Code'] }}</td>
            <td>{{ record['Previously_Insured'] }}</td>
            <td>{{ record['Vehicle_Age'] }}</td>
            <td>{{ record['Vehicle_Damage'] }}</td>
            <td>{{ record['Annual_Premium'] }}</td>
            <td>{{ record['Policy_Sales_Channel'] }}</td>
            <td>{{ record['Vintage'] }}</td>
            <td>{{ record['Prediction'] }}</td>
            <td>{{ record['Classification'] }}</td>
        </tr>
        {% endfor %}
    </table>
    
     <!-- Footer -->
  <div class='footer'>
    <div class="contact">
      <a target="_blank" href="https://www.facebook.com/hyhtttruc"><i
          class="fab fa-facebook fa-lg contact-icon"></i></a>
    </div>
    <p class='footer-description'>Made by HKT Team.</p>
  </div>

</body>

</html>