<h3>Login Fashion Shop System</h3>
<table>
    <tr>
        <td>User Name:</td>
        <td><input type="text" [value]="userName" #myusername></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td><input type="password" value="{{passWord}}" #mypassword></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <input type="checkbox">Save Login Infor 
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <input type="button" value="Login" (click)="processClick(myusername.value,mypassword.value)">
        </td>
    </tr>
</table>
<p class="{{redStyle}}">Designed by [Tèo]</p>
<p [class]="bigFontStyle">Designed by [Tèo]</p>
<p [ngClass]="redBigFontStyle">Designed by [Tèo]</p>