<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vehicle Insurance Prediction</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Website Title -->
    <ul class="container">
      <li style="display: flex; align-items: center; margin-right: 600px">HKT Team</li>
      <li><a href="amain.html">Home</a></li>
      <li class="predict">
        <a href="#">Predict</a>
          <ul class="sub-menu">
              <li><a href="enterinf.html">For Salesman</a></li>
              <li><a href="upload.html">For Company</a></li>
          </ul>
      </li>
      <li><a href="#">About Us</a></li>   
    </ul>
  

    <div class="main">
      <h3 class="main-heading">Vehicle Insurance Prediction</h3>
      <p class="main-description">Welcome to our vehicle insurance prediction website, where cutting-edge algorithms forecast your customer's
        <br>insurance needs, offering personalized quotes to ensure optimal coverage for your car with ease and precision!</p>
    </div> 


    <div class="button">
      <div class="enter">
        <form action="{{ url_for('enterinformation') }}" method="POST">
          <input type="submit" class="enter" value="For Salesman">
        </form>
      </div>

      
      <div class="upload">
        <form action="{{ url_for('uploaddata') }}" method="POST">
          <input type="submit" class="upload" value="For Company">
        </form>
      </div>
    </div>

    <!-- Footer -->
  <div class='footer'>
    <p style="text-align: center">Made by HKT Team.</p>
  </div>

</body>

</html>