<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vehicle Insurance Prediction</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Website Title -->
  
    <ul class="container">
      <li style="display: flex; align-items: center; margin-right: 600px">HKT Team</li>
      <li><a href="amain.html">Home</a></li>
      <li class="predict">
        <a href="#">Predict</a>
          <ul class="sub-menu">
              <li><a href="enterinf.html">For Salesman</a></li>
              <li><a href="upload.html">For Company</a></li>
          </ul>
      </li>
      <li><a href="#">About Us</a></li>   
    </ul>

    <form action="/upload-data/upload" method="POST" enctype="multipart/form-data">
      <input type="file" class="upload" name="file" accept=".csv, .txt, .xlsx, .json">
      <input type="submit" class="enter" value="Upload">
    </form>

    <!-- Footer -->
    <div class='footer'>
      <p style="text-align: center">Made by HKT Team.</p>
    </div>

</body>

</html>