html{
	height: 100%;
	margin: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
	/* display: flex; 
	flex-direction: column; */
}

/* Website Title */

.container {
	display: flex;
	list-style: none;
    color: #ffffff;
	font-family: 'Michroma';
	font-size: 15px;
	font-weight: 800;
	background: linear-gradient(45deg, #302579, #5968b1, #52D6D3);
	background-size: 500% 500%;
	animation: change-gradient 10s ease-in-out infinite;
	width: 100%;
  }
  
@keyframes change-gradient {
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}



/* .container-heading{
	margin-left: 30px;
    color: #ffffff;
	font-family: 'Michroma';
	font-size: 15px;
	font-weight: 800;

} */

.container a:hover {
	color: black;
	background-color: orange;
}

.container .predict {
	position: relative;
}

.container .predict:hover .sub-menu{
	display: block;
}

.sub-menu{
	list-style: none;
	position: absolute;
	border: 1px solid green;
	padding: 0;
	left: 0;
	top: 100%;
	display: none;
	background-color: #ffffff;
}

.container a {
	display: inline-block;
	text-decoration: none;
	padding: 16px 32px;
	font-weight: bold; /* Chữ đậm */
	color: white;
}

.container .sub-menu li a {
	color: black;
}

.container .sub-menu li a:hover {
	color: #ffffff;
}

/* Text Area */

.main {
	text-align: left;
	margin-left: 30px;     
}

.main-heading {
	font-family: 'Michroma'; 
	font-size: 45px;
	font-weight: 800;
}

.main .main-description {
	font-size: 15px;
	position: relative;
	bottom: 25px;
	font-family: 'Montserrat';
}

.ml-container{
    margin: 30px 0;
	flex: 1 0 auto;

}

.form {
	text-align: center;
	width: 250px;
	height: 25px;
	margin-bottom: 5px;
	
}

input[type=text], select {
    width:60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
	display: inline block;
	width: 200px;
	font-weight: bold;
	text-align: center;
	float: left;
		
  }

/* Navigation bar */
.navbar {
	overflow: hidden;
	background-color: #333;
  }

.navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
.navbar a:hover {
	background-color: #ddd;
	color: black;
}

/* Enter Information */
.button .enter {
	font-size: 20px;
	border-radius: 100px;
	position: relative;
	right: 25px;
 	padding: 10px 80px;
 	color: #000000;

	font-family: 'Montserrat';
	font-weight: 600;
}


.button input:hover {
	background: linear-gradient(45deg, #302579, #5968b1, #52D6D3);
	color:#ffffff;
}

/* Upload Data */
.upload{
	font-size: 20px;
	border-radius: 1000px;
	position: relative;
	right: 25px;
 	padding: 10px 80px;
 	color: #000000;
	font-family: 'Montserrat';
	font-weight: 600;

}
.button input {
	box-shadow: 3px 3px #8c8c8c;
}

/* Predict Button */
.my-cta-button {
	background: #f9f9f9;
   	border: 2px solid #000000;
    border-radius: 1000px;
    box-shadow: 3px 3px #8c8c8c;
	margin-top: 10px;
	margin-bottom: 80px;
    padding: 10px 36px;
    color: #000000;
    display: inline-block;
   	font: italic bold 20px/1 "Calibri", sans-serif;
    text-align: center;
}

.my-cta-button:hover {
    border: 2px solid #46424b;
	color: #ffffff;
	background: linear-gradient(45deg, #302579, #5968b1, #52D6D3);
}

.my-cta-button:active {
    box-shadow: 0 0;
}

/* Footer */
.footer {
	flex-shrink: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #302579;
	background-size: 500% 500%;
	color: #ffffff;
	margin: 0;
	font-size: 15px;
	font-family: "Montserrat";
	font-weight: 500;
}

/* Result */
.results {
    padding: 30px 0 0;
	flex: 1 0 auto;
}

.no {
    color: #ff0000;
}

.yes {
    color: green;
}